.select2-container--default .select2-selection--multiple {
    font-size: 13px;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    font-size: 13px;
}

/* SELECT 2 */
.select2-results {
    font-size: 13.5px !important;
    box-shadow: 1px 6px 16px -11px rgb(0 0 0 / 63%);
}

.select2-container .select2-dropdown .select2-results ul {
    border-color: #bbb !important;
}

.select2-container .select2-dropdown .select2-search input {
    border-color: #bbb !important;
}

.select2.select2-container {
    width: 100% !important;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    margin-bottom: unset;
    outline: none !important;
    transition: all .15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: 32px;
    padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: 0;
    height: 32px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0 4px;
    line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 0 6px 0 22px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    margin: 0;
    text-align: center;
    color: #e74c3c;
    font-weight: 500;
    font-size: 16px;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: 1px solid #34495e !important;
    border-bottom: none !important;
    padding: 4px 6px !important;
}

.select2-container .select2-dropdown .select2-results {
    padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #fff;
    border: 1px solid #34495e;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #3498db;
}

.btn-second{
  background:#f44336;
  color:white;
  }
  .btn-second:hover,.btn-second:active {
    background:#ab190e;
    color:white;
  }
   .btn-main:hover,.btn-main:active {
      background: #006633 !important;
      color: white;
    }
    .btn-main:disabled, .btn-second:disabled {
    background: #E6E6E6;
    color: white;
    opacity:1
}
    .btn-main {
      background: #3478db;
      color: white;
    }
    b {
      font-weight: normal;
    }
    body main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
    }
    body img {
      object-fit: contain;
    }
    body h6 {
      color: #4f78d8;
      font-weight: bold;
      margin: unset;
    }
    label {
      font-size: 12px;
      font-weight: 500;
    }
    body b {
      width: 35%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    /*.form-control-sm {
      font-size: 10px;
    }*/
    button#togglePassword {
      border-color: #dfe2e6;
    }
    button#toggleConfirmPassword {
        border-color: #dfe2e6;
      }
    .error-message {
      color: red;
      font-size: 12px;
    }
    .input-group.error .form-control,
    .input-group.error .btn {
      border-color: red;
    }
    .input-group.error,.input-group.error .input-group-text,.input-group.error .btn{
    border-color:red !important;
    }
        button.toggle-password{
    border-color:#dfe2e6
    }
